<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0, minimum-scale=1.0">

        <title>Customers | Shoppr Admin</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
    </head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>Manage Customers</h2>	
	</div>
		
	<div th:replace="fragments :: search_form_and_message('customers')" />
	
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th th:replace="fragments :: column_link('customers', 'id', 'ID', 'none')" />
					<th th:replace="fragments :: column_link('customers', 'firstName', 'First Name', 'none')" />
					<th th:replace="fragments :: column_link('customers', 'lastName', 'Last Name', 'none')" />
					
					<th class="hideable-column">
					<th th:replace="fragments :: column_link('customers', 'email', 'E-mail', 'tag')" />
					</th>
					
					<th class="hideable-column">
					<th th:replace="fragments :: column_link('customers', 'city', 'City', 'tag')" />
					</th>
					
					<th class="hideable-column">
					<th th:replace="fragments :: column_link('customers', 'state', 'State', 'tag')" />
					</th>
					
					<th th:replace="fragments :: column_link('customers', 'country', 'Country', 'none')" />
					<th th:replace="fragments :: column_link('customers', 'enabled', 'Enabled', 'none')" />
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="customer : ${listCustomers}">
					<td>[[${customer.id}]]</td>
					<td>[[${customer.firstName}]]</td>
					<td>[[${customer.lastName}]]</td>
					<td class="hideable-column">[[${customer.email}]]</td>
					<td class="hideable-column">[[${customer.city}]]</td>
					<td class="hideable-column">[[${customer.state}]]</td>
					<td>[[${customer.country.name}]]</td>
					<td class="text-center">
                            	<a 
                            		th:if="${customer.enabled == true}" 
                            		class="fas fa-check-circle" 
                            		href=""
                            		style = "font-size:150%; 
                        			   		 color:mediumseagreen;
                        			   		 text-decoration: none;"
            			   		 	th:href="@{'/customers/' + ${customer.id} + '/enabled/false' +
            			   		 		'?currentPage=' + ${currentPage} +
                			   			'&sortField=' + ${sortField} + 
                			   			'&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}"
            			   		 	title = "Disable this customer"
            			   		 >
                            	</a>
                            	<a 
                            		th:if="${customer.enabled == false}" 
                            		class="fas fa-times-circle" 
                            		href=""
                            		style = "font-size:150%; 
                        			   		 color:gray;
                        			   		 text-decoration: none;"
            			   		 	th:href="@{'/customers/' + ${customer.id} + '/enabled/true' +
            			   		 		'?currentPage=' + ${currentPage} +
                			   			'&sortField=' + ${sortField} + 
                			   			'&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}"
            			   		 	title = "Enable this customer"
            			   		 >
                            	</a>
                	</td>
					<td class="text-center">
							
							<a class="fas fa-file-alt side-buttons link-detail" 
                            		style="font-size:150%; 
                            			   color: grey;
                            			   text-decoration: none;"
                    			   title="View this customer" 
                    			  th:href="@{'/customers/detail/' + ${customer.id}}"
                			   >
							</a>
							&nbsp;
                        	<a class="fas fa-edit side-buttons" 
                        		style="font-size:150%; 
                        			   color: steelblue;
                        			   text-decoration: none;"
                			   title="View Details" 
                			   th:href="@{'/customers/edit/' + ${customer.id}}"
       
            			   >
            				</a> 
                        	&nbsp; 
                        	<a 
                        		class="fas fa-trash link-delete side-buttons" 
                        		style="font-size:150%; 
                        			   color:tomato;
                        			   text-decoration: none;"
                			   	title="Delete this customer"
                			   	th:href="@{'/customers/delete/' + ${customer.id} + '?currentPage=' + ${currentPage} +
            			   			'&sortField=' + ${sortField} + 
            			   			'&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}"
            			   	>
                    		</a>
                    </td>				
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="customer : ${listCustomers}" class="row m-1">
			<div class="col-4">
				<span><b>[[${customer.fullName}]]</b></span>
			</div>
			<div class="col-8">
				<div class="mb-1">
					<span>[[${customer.country.name}]]</span>
				</div>
				<div>
					
					<a 
                		th:if="${customer.enabled == true}" 
                		class="fas fa-check-circle" 
                		href=""
                		style = "font-size:150%; 
            			   		 color:mediumseagreen;
            			   		 text-decoration: none;"
			   		 	th:href="@{'/customers/' + ${customer.id} + '/enabled/false' +
			   		 		'?currentPage=' + ${currentPage} +
    			   			'&sortField=' + ${sortField} + 
    			   			'&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}"
			   		 	title = "Disable this customer"
			   		 >
                	</a>
                	<a 
                		th:if="${customer.enabled == false}" 
                		class="fas fa-times-circle" 
                		href=""
                		style = "font-size:150%; 
            			   		 color:gray;
            			   		 text-decoration: none;"
			   		 	th:href="@{'/customers/' + ${customer.id} + '/enabled/true' +
			   		 		'?currentPage=' + ${currentPage} +
    			   			'&sortField=' + ${sortField} + 
    			   			'&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}"
			   		 	title = "Enable this customer"
			   		 >
                	</a>
					&nbsp; 
					<a class="fas fa-file-alt side-buttons link-detail" 
                            		style="font-size:150%; 
                            			   color: grey;
                            			   text-decoration: none;"
                    			   title="View this customer" 
                    			  th:href="@{'/customers/detail/' + ${customer.id}}"
                			   >
							</a>
							&nbsp;
					<a class="fas fa-edit side-buttons" 
                    		style="font-size:150%; 
                    			   color: steelblue;
                    			   text-decoration: none;"
            			   title="View Details" 
            			   th:href="@{'/customers/edit/' + ${customer.id}}"
   
        			   >
        				</a> 
                    	&nbsp; 
                    	<a 
                    		class="fas fa-trash link-delete side-buttons" 
                    		style="font-size:150%; 
                    			   color:tomato;
                    			   text-decoration: none;"
            			   	title="Delete this customer"
            			   	th:href="@{'/customers/delete/' + ${customer.id} + '?currentPage=' + ${currentPage} +
        			   			'&sortField=' + ${sortField} + 
        			   			'&sortDir=' + ${sortDir} + '&keyword=' + ${keyword}}"
        			   	>
                		</a>
				</div>
			</div>
			<div>&nbsp;</div>
		</div>	
	</div>		
	
	<div class="text-center m-1" th:if="${(totalItems > 0) && (currentPage<=totalPages)}">
                <span>Showing Customers from: [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
            </div>
            <div class="text-center m-1" th:if="${(totalItems <= 0) || (currentPage>totalPages)}">
                <span><h3>No Customers Found.</h3></span>
            </div>

			<div th:if="${(totalItems > 0) && (currentPage<=totalPages)}">
				<nav>
				  <ul class="pagination justify-content-center flex-wrap">
				  	<li th:class="${currentPage > 1? 'page-item': 'page-item disabled'}">
						<a th:replace="fragments :: page_words_link(${moduleURL}, '1', 'First')"/>
			  		</li>
				    <li th:class="${currentPage > 1? 'page-item': 'page-item disabled'}">
				    	<a th:replace="fragments :: page_words_link(${moduleURL}, ${currentPage-1}, 'Previous')"/>
			    	</li>
			    	<li th:if="${currentPage-1>1}" class="page-item">
				    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage-2})"/>
			    	</li>
	    		 	<li th:if="${currentPage>1}" class="page-item">
	    		 		<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage-1})"/>
		 			</li>
				    <li class="page-item active">
				    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage})"/>
			    	</li>
				    <li th:if="${currentPage<totalPages}" class="page-item">
				    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage+1})"/>
			    	</li>
			    	<li th:if="${currentPage+1<totalPages}" class="page-item">
				    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage+2})"/>
			    	</li>			    	
				    <li th:class="${currentPage < totalPages? 'page-item': 'page-item disabled'}">
				    	<a th:replace="fragments :: page_words_link(${moduleURL}, ${currentPage+1}, 'Next')"/>
			    	</li>
			    	<li th:class="${currentPage < totalPages? 'page-item': 'page-item disabled'}">
			    		<a th:replace="fragments :: page_words_link(${moduleURL}, ${totalPages}, 'Last')"/>
		    		</li>
				  </ul>
				</nav>
			</div>

            <div class="modal fade text-center" id="confirmModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Confirmation</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete this Customer?</p>
                    </div>
                    <div class="modal-footer">
                      <a type="button" class="btn btn-danger" id="delButton" href="">Delete</a>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="modal fade" id="detailModal">
            	<div class="modal-dialog modal-xl">
            		<div class="modal-content">
            		</div>
            	</div>
            </div>

            <div class="text-center">
                <p>Shoppr Control Panel - Copyright &copy; Shoppr</p>
            </div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		$(".link-delete").on("click", function(e){
			        e.preventDefault();
					
					link = $(this)
					
					$("#delButton").attr("href", link.attr("href"));
			        $("#confirmModal").modal();
			        
	    });
		
		$(".link-detail").on("click", function(e) {
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});		
		
		$("#clearSearch").on("click", function(e){
							
			window.location = "[[@{/customers}]]";
		})
		
		$(".link-detail").on("click", function(e){
				
			e.preventDefault()
			linkDetailUrl = $(this).attr("href")
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailUrl)
		})
	});
</script>
</body>
</html>