<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xlmns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="fragments :: page_head(${product.shortName}, 'none')" />
    <body>
        <div class="container-fluid">

            <div th:replace="navigation :: menu"></div>
            <div th:replace="navigation :: search_nav"></div>
           	
           	 <div th:replace="breadcrumb :: content"></div>
           	 
            <div class="p-3">
                <p>[[${pageTitle}]]</p>
            </div>
            
        	<div class="container-fluid">
            <div class="row" style="margin-top:10px">
           
           
           		<div class="col-sm text-center p-2">
           		
           			<img id="bigImage" th:src="@{${product.getImagePath}}" class="img-fluid"
           				 style="max-width: 80%; max-height: 350px;"/>
           				 
       				 <div class="row justify-content-center">
       				 	<div class="m-2 p-1 border">
       				 		<img class="image-thumbnail" th:src="@{${product.getImagePath}}"
       				 			 index="0" style="height: 50px;"/>
       				 	</div>
       				 	<th:block th:each="extraImage, status: ${product.images}">
       				 		<div class="m-1 p-1 border">
	       				 		<img class="image-thumbnail" th:src="@{${extraImage.imagePath}}"
	       				 			 th:index="${status.count}" style="height: 50px;"/>
	       				 	</div>
       				 	</th:block>
       				 </div>
           				 
           		</div>
           		
           		
           		<div class="col-sm">
           		
           			<div>
	           			<h3>[[${product.name}]]</h3>
	           		</div>
	           		<div>
	           			<span>Brand: [[${product.brand.name}]]</span>
	           		</div>
	           		
	           		<div>
						List Price:
						<span th:if="${product.discountPercent <= 0}"><div th:replace="product/product_fragment :: price_fragment(${product.price})"></div></span>
						<del th:if="${product.discountPercent > 0}"><span><div th:replace="product/product_fragment :: price_fragment(${product.price})"></div></span></del>
					</div>
					<div th:if="${product.discountPercent > 0}">
						Price:
						<span style="font-weight:bold; font-size: larger; color: rgb(24, 139, 41)"><div th:replace="product/product_fragment :: price_fragment(${product.discountPrice})"></div></span>
						([[${#numbers.formatDecimal(product.discountPercent, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]] % off)
					</div>
        			
        			<div>&nbsp;</div>
        			
        			<div th:utext="${product.shortDescription}"></div>
        			
        			
           		</div>
           		
           		<div class="col-sm-2">
           		
           			<div style="font-size: 1.1rem;">
						<span th:if="${product.inStock}" class="text-success">
							<strong>In Stock</strong>
						</span>  
						<span th:unless="${product.inStock}" class="text-danger">
							<strong>Out of Stock</strong>
						</span>         			
           			</div>
           		
           			<th:block th:if="${product.inStock}">
					<div th:replace="cart/quantity_control :: quantity_control(1, ${product.id})"></div>
					<div class="mt-3">
						<input type="button" value="Add to Cart" id="buttonAdd2Cart" class="btn btn-dark" />
					</div>
					</th:block>
           			
           		</div>
           		
             </div>
        	</div>
       
       		<div class="container-fluid">
       		<div><hr/></div>
           
            <div class="row p-2">
            
           		<div class="col-sm-8">
           		
           			<div>
           				<h3>Product Description: </h3>
           			</div>
           			<div class="rounded p-3 border-secondary" th:utext="${product.fullDescription}" 
           				style=" max-height: 400px;
   								overflow-y: scroll;
   			 					border: 2px solid;">
					</div>
           		</div>
           		
           		<div class="col-sm-4">
           			<div>
           				<h3>Product Specifications: </h3>
           			</div>
           			<th:block th:each="detail : ${product.details}">
           				<div>
           					<strong>[[${detail.name}]] : </strong>
           					<span>[[${detail.value}]]</span>
           				</div>
           			</th:block>
           		</div>
           		
            </div>
       		</div>
           
           <div th:replace="product/images_carousel :: content"></div>
            
            <div th:replace="fragments :: modal_dialog"></div>	
			<div th:replace="navigation :: footer_menu"></div>
        </div>
        
        
        <script type="text/javascript">
        
        	contextPath = "[[@{/}]]";
			productId = "[[${product.id}]]";
			var csrfHeaderName = "[[${_csrf.headerName}]]";
			var csrfValue = "[[${_csrf.token}]]";	
        	bigImage = $("#bigImage")
        
        	$(document).ready(function(){
	
				$(".image-thumbnail").mouseover(function(){
					currentImageSource = $(this).attr("src")
					currentImageIndex = $(this).attr("index")
					
					bigImage.attr("src", currentImageSource)
					bigImage.attr("index", currentImageIndex)
				})
				
				bigImage.on("click", function(){
					$("#carouselModal").modal("show")
					imageIndex = parseInt(bigImage.attr("index"))
					$("#carouselExampleIndicators").carousel(imageIndex)
				})
			})
        
        </script>
        <script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
		<script type="text/javascript" th:src="@{/js/quantity_control.js}"></script>
		<script type="text/javascript" th:src="@{/js/add_to_cart.js}"></script>
    </body>
</html>